<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div id="programsPanel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Onboarding Programs</h3>
                <app-header></app-header>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <app-tx-form></app-tx-form>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-2">&nbsp;</div>
</div>
